@charset "utf-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, ul, li, p, form, label, input, button, img {
    margin: 0;
    padding: 0;
    border: 0;
}
table, th, td, thead, tbody {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
button {
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
}
body, input, button {
    font: 12px/1.14 'Microsoft YaHei';
    outline: 0;
    color: #000;
}

/* index */
$color : #e74f4d;

html, body {
    width: 100%;
    min-width: 1280px;
}

.clearfix {
    *zoom: 1;
    &:before,&:after {
        content: '';
        display: table;
        clear: both;
    }
}

.search-btn {
    width: 50px;
    height: 25px;
    color: #fff;
    background-color: #388ac1;
    font-family: 'SimHei';
}

.header {
    width: 100%;
    height: 56px;
    background-color: #2189bf;
    .logo {
        float: left;
        margin:10px 0 0 50px;
    }
    .login {
        float: right;
        height: 16px;
        margin: 20px 94px 0 21px;
        line-height: 16px;
        color: #fff;
        cursor: pointer;
        img {
            float: left;
            margin-right: 3px;
        }
    }
    .section-search {
        float: right;
        width: 312px;
        height: 28px;
        margin-top: 14px;
        background-color: #fff;
        border-radius: 14px;
        img {
            margin: 6px 0 0 17px;
            float: left;
        }
        #search {
            height: 28px;
            width: 250px;
            margin-left: 10px;
            line-height: 28px;
        }
    }
}

.container {
    height: 1210px;
    width: 100%;
}

.container-l {
    height: 100%;
    width: 260px;
    float: left;
    background-color: #2a2e3d;
}

.userinfo {
    width: 100%;
    height: 150px;
    text-align: center;
    font: 12px 'SimSun';
    div p:first-child {
        font: 1.333333em 'SimHei';
    }
}
.userinfo-t {
    display: inline-block;
    height: 57px;
    margin-top: 18px;
    .avatar {
        float: left;
        height: 55px;
        width: 55px;
        border: 1px solid #fff;
        border-radius: 50%;
        img {
            display: inline-block;
            border-radius: 50%;
            margin-top: 4px;
            margin-left: 1px;
        }
    }
    .username {
        float: left;
        margin-left: 18px;
        font: 1.333333em 'SimHei';
        line-height: 57px;
        color: #fff;
    }
}

.userinfo-b {
    margin-top: 24px;
    color: #6e8095;
    .favorites, .fans {
        display: inline-block;
        p {
            line-height: 16px;
        }
    }
    .favorites {
        border-right: 2px solid #313545;
        padding-right: 31px;
    }
    .fans {
        padding-left: 31px;
        margin-left: -7px;
    }
}

.nav {
    width: 100%;
    li {
        height: 48px;
        width: 100%;
        font-family: 'SimHei';
        cursor: pointer;
        color: #6e8095;
        overflow: hidden;
        .item {
            width: 190px;
            height: 48px;
            margin-left: 45px;
            padding-left: 25px;
            line-height: 48px;
            &.star {
                background: url(../img/star-icon.png) no-repeat 0 48.5%;
            }
            &.share {
                background: url(../img/share-icon.png) no-repeat 0 48.5%;
            }
            &.report {
                background: url(../img/report-icon.png) no-repeat 0 48.5%;
            }
            &.info {
                background: url(../img/info-icon.png) no-repeat 0 48.5%;
            }
        }
        &.unfold {
            height: auto;
            overflow: visible;
        }
        &.active {
            color: #ededef;
            background-color: #383d4e;
        }
        
    }
}

.folders {
    margin-top: -10px;
    padding-left: 65px;
    li {
        height: 30px;
        width: 175px;
        padding-left: 20px;
        line-height: 30px;
        background: url(../img/fold-icon.png) no-repeat 3px 9px;
        &.unfold {
            background: url(../img/unfold-icon.png) no-repeat 0 12px; 
        }
        .folder-item {
            padding-left: 16px;
            background: url(../img/folder-icon.png) no-repeat 0 48%;
        }
        &.active {
            .folder-item {
                background-image: url(../img/folder-active-icon.png);
            }
        }
    }
}

.files {
    padding-left: 15px;
    width: 160px;
    li {
        width: 145px;
        padding-left: 15px;
        background: url(../img/file-icon.png) no-repeat 0 center;
        &.active {
            background-image: url(../img/file-active-icon.png);
        }
    }
}

.container-r {
    height: 100%;
    margin-left: 260px;
    background-color: #eee;
    overflow: hidden;
}

.directory {
    width: 100%;
    height: 30px;
    padding-left: 30px;
    background-color: #fff;
    color: #aaaaaa;
    line-height: 30px;
    font-size: 1.166667em 'SimHei';
    a {
        padding: 0 7px;
        color: #aaaaaa;
        &:first-child {
            padding: 0 14px 0 0;
        }
        &.active, &:hover {
            color: #6898c2;
        }
    }
}

.search {
    width: 87.25%;
    height: 54px;
    padding: 15px 0;
    margin: 19px auto 9px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #aaa;
    .search-item {
        float: left;
        height: 54px;
        width: 120px;
        margin-left: (30px/890px)*100%;
        .select {
            float: right;
        }
    }
    .search-change {
        float: left;
        position: relative;
        height: 54px;
        width: 190px;
        margin-left: (38px/890px)*100%;
        .select-box {
            width: 160px;
            &:first-child {
                margin-bottom: 5px;
            }
        }
        .btn-change {
            position: absolute; 
            top: 8px;
            right: 0;
            height: 38px;
            width: 28px;
            background: url(../img/change-icon.png) no-repeat;
            cursor: pointer;
        }
    }
    .search-detail {
        float: left;
        width: 290px;
        height: 54px;
        margin-left: (30px/890px)*100%;
        .select-box {
            width: 100%;
            .select {
                float: left;
            }
            &:first-child {
                margin-bottom: 5px;
            }
        }
    }
    .search-btn {
        margin: 16px 0 0 (30px/890px)*100%;
    }
}

.select-box {
    height: 25px;
    overflow: hidden;
}
.select-label {
    float: left;
    padding-right: 14px;
    height: 25px;
    line-height: 25px;
}

.select {
    position: relative;
    width: 68px;
    height: 23px;
    background-color: #fff;
    font-family: 'SimHei'; 
    border: 1px solid #c3c3c3; 
    overflow: hidden;
    cursor: pointer;
    &.select-mr {
        margin-right: 12px;
    }
    &.select-long {
        width: 118px;
    }
    .select-arrow {
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
        width:20px;
        z-index: 10;
        background: url(../img/select-arrow.png) no-repeat center;
        background-color: #fff;
        text-align: center;
    }
    .select-valuebox {
        height: 100%;
        line-height: 23px;
        padding: 0 20px 0 10px;
        color: #323333;
        overflow: hidden;
        white-space: nowrap;
    }
}

.history {
    width: 87.25%;
    height: 65px;
    margin: 0 auto;
    overflow: hidden;
    .history-nav {
        height: 100%;
        margin-right: 135px;
        .pre {
            float: left;
            background: url(../img/arrow-left.png) no-repeat center;
        }
        .next {
            float: right;
            background: url(../img/arrow-right.png) no-repeat center;
        }
        .pre, .next {
            height: 100%;
            width: 30px;
            background-color: #fff;
            cursor: pointer;
        }
    }
    .history-search {
        float: right;
        width: 68px;
        padding-left: 62px;
        height: 100%;
        line-height: 65px;
        color: #535353;
        background: #fff url(../img/history-icon.png) no-repeat 20px center;
        cursor: pointer;
    }
}

.history-items {
    height: 100%;
    margin: 0 35px 0 30px;
    .item {
        float: left;
        box-sizing: border-box;
        width: 16.666666%;
        border-left: 5px solid #eee;
        height: 100%;
        background-color: #fff;
        text-align: center;
        cursor: pointer;
        &.active, &:hover {
            .item-time {
                border-top: 4px solid #4388c9;
                padding-top: 5px;
            }
        }
        .item-time {
            padding-top: 9px;
            color: #323333;
            span {
                margin-left: 3px;
            }
        }
        .item-price {
            padding-top: 10px;
            color: #aeaeae;
            span {
                font-size: 1.75em;
                color: #ec6500;
            }
        }
    }
}

.statistic {
    width: 87.25%;
    height: 95px;
    margin: 15px auto;
    color: #323333;
    .statistic-title {
        width: 100%;
        height: 25px;
        line-height: 25px;
    }
}

.statistic-items {
    width: 100%;
    height: 70px;
    .item {
        float: left;
        position: relative;
        box-sizing: border-box;
        width: 25%;
        height: 100%;
        background-color: #fff;
        border-right: 30px solid #eee;
        &.item-green {
            border-left: 5px solid #44b29e;
            span {
                background-color: #44b29e;
            }
        }
        &.item-blue {
            border-left: 5px solid #388ac1;
            span {
                background-color: #388ac1;
            }
        }
        &.item-red {
            border-left: 5px solid #d04b36;
            span {
                background-color: #d04b36;
            }
        }
        &.item-yellow {
            border-left: 5px solid #e2cd46;
            span {
                background-color: #e2cd46;
            }
        }
        span {
            position: absolute;
            right: 15px;
            top: 12px;
            display: block;
            width: 60px;
            height: 46px;
        }
        p {
            color: #aaa;
            margin: 14px 0 0 8px;
            &.statistic-amount {
                color: #323333;
                margin-top: 20px;
            }
        }
        &.item-last {
            border-right: 0;
        }
    }
}

.project {
    width: 87.25%;
    height: 357px;
    margin: 0 auto 10px;
    .project-l {
        float: left;
        width: 59.8%;
    }
    .project-r {
        float: right;
        width: 39.8%;
    }
}

.other {
    width: 87.25%;
    height: 357px;
    margin: 0 auto;
    .calendar {
        float: left;
        width: 39.8%;
    }
    .ranklist {
        float: right;
        width: 59.8%;
    }
}

.section {
    box-sizing: border-box;
    height: 355px;
    border: 1px solid #d0d2d6;
    border-radius: 8px;
    background-color: #fff;
    .section-title {
        padding-left: 20px;
        height: 39px;
        line-height: 40px;
        color: #aaa;
        background-color: #f5f5f5;
        border-bottom: 1px solid #e6e8eb;
        border-radius: 8px 8px 0 0;
    }
    .section-container {
        height: 315px;
        padding: 15px 20px 0;
    }
}

.tab {
    position: relative;
    z-index: 1;
    height: 28px;
    width: 100%;
    text-align: center;
    li {
        float: left;
        width: 86px;
        height: 28px;
        line-height: 28px;
        margin-right: 4px;
        background-color: #ececec;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        a {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 5px 5px 0 0;
            color: #535353;
            &:focus {
                background-color: #fff;
                border: {
                    width: 1px 1px 0 1px;
                    style: solid;
                    color: #cbcbcb;

                }
            }
        }
        &.active {
            a {
                background-color: #fff;
                border: {
                    width: 1px 1px 0 1px;
                    style: solid;
                    color: #cbcbcb;
                }
            }
        }
    }
}
.project-tables {
    position: relative;
    width: 100%;
    height: 248px;
    border: 1px solid #cbcbcb;
    li {
        position: absolute;
        top: 30px;
        bottom: 35px;
        left: 35px;
        right: 50px;
        background-color: #fff;
        table {
            width: 100%;
            height: 100%;
            font-family: 'SimSun';
            color: #535353;
            text-align: center;
            border-collapse: collapse;
            border-spacing: 0;
            tr {
                height: 16.666666%;
                td {
                    width: 25%;
                    cursor: pointer;
                    &:hover {
                        background-color: #f4f5f7;
                    }
                }
            }
        }
        &:target {
            z-index: 2;
        }
    }
    #table1 {
        z-index: 1;
    }
}
.project-r {
    .section-container {
        padding: 15px 35px;
    }
}
.project-info {
    box-sizing: border-box;
    border-bottom: 1px solid #e7e7e7;
    p {
        padding: 0 0 3px 16px;
        line-height: 20px;
        color: #535353;
        &:first-child {
            color: #c3c2c2;
        }
    }
}

.project-price {
    float: left;
    width: 32%;
    border-right: 1px solid #e7e7e7;
}
.project-person {
    float: left;
    width: 68%;
}
.project-description {
    width: 100%;
    height: 145px;
    overflow:hidden;
}

.project-form {
    width: 100%;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    color: #c3c2c2;
    input {
        vertical-align: -2px;
        margin:0 8px 0 3px;
    }
    .search-btn {
        float: right;
        margin-top: 5px;
    }
}
.calendar {
    .section-container {
        padding: 10px 20px 0;
    }
}
.calendar-filter {
    border-bottom: 1px solid #a9cfec;
    padding-bottom: 10px;
    .select {
        float: left;
        width: 62px;
        height: 20px;
        margin-left: 2%;
        border: 1px solid #cbcbcb;
        &.select-long {
            width: 83px;
        }
        &.select-mid {
            width: 73px;
        }
        .select-valuebox {
            padding-left: 4px;
            line-height: 20px;
        }
        &:first-child {
            margin-left: 1%;
        }
    }
    #backtoday {
        float: left;
        width: 62px;
        height: 20px;
        margin-left: 2%;
        text-align: center;
        border: 1px solid #cbcbcb;
        line-height: 20px;
        cursor: pointer;
    }
}
.calendar-container {
    width: 100%;
    .calendar-week {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #e1e1e1;
        font-family: 'SimHei';
        color: #535353;
        li {
            float: left;
            width: (1/7)*100%;
            text-align: center;
        }
    }
    .canlendar-day {
        font-family: 'SimHei';
        color: #323333;
        li {
            float: left;
            box-sizing: border-box;
            width: (1/7)*100%;
            height: 42px;
            padding-top: 7px;
            margin-top: 3px;
            text-align: center;
            cursor: pointer;
            &:hover, &.active {
                border: 1px solid #f4c21d;
                padding-top: 6px;
            }
            &.empty {
                cursor: default;
                &:hover {
                    border: none;
                    padding-top: 7px;
                }
            }
            b {
                font-weight: 400;
            }
            b.weekend, p.festival {
                color: #c9161d;
            }
        }
    }
}

.ranklist {
    .section-container {
        padding: 18px 40px;
    }
}
.ranklist-table {
    width: 100%;
    border-collapse: collapse;
    border-space: 0;
    text-align: center;
    thead {
        tr {
            height: 27px;
        }
        th {
            font: 13px 'SimHei';
            font-weight: 400;
            color: #231815;
        }
    }
    tbody {
        tr {
            height: 23px;
        }
        td {
            color: #323333;
            &:last-child {
                position: relative;
                text-align: left;
                padding-left: 35px;
            }
            div {
                position: absolute;
                width: 55%;
                height: 5px;
                top: 8px;
                left: 40%;
                background-color: #dcdcdc;
                span {
                    position: absolute;
                    top: 0; 
                    left: 0;
                    display: block;
                    height: 100%;
                    width:50%;
                    z-index: 1;
                    background-color: #7ecaef;
                }
                &.ranklist-first {
                    span {
                        background-color: #ec6d51;
                        width: 80%;
                    }
                }
                &.ranklist-second {
                    span {
                        background-color: #ef8150;
                        width: 70%;
                    }
                }
                &.ranklist-third {
                    span {
                        background-color: #f19e4f;
                        width: 60%;
                    }
                }
            }
        }
    }
}
